@media screen and (max-width:556px) {
    .hide {
        display:none;
    }
    .a , .main-bar , .main-box , .main-footer{
        flex-direction: column;
        width: calc(100% - 88px);
    }
    
} 
@media screen and (min-width:550px) {
    .hide-1{
        display: none;
    }
}