.content-regular {
    font-family: "Content", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content-bold {
    font-family: "Content", serif;
    font-weight: 700;
    font-style: normal;
  }
  :root{
    --sky-blue:#01ACFD;
    --orange:#fea301;
    --bkack-1:#111111;
    --black-0:#000000;
    --whait:#ffffff;
    --grid:#95b226;
   --font-size:20px;
   --admission:#5d58ef;
   --color:#05d4df;
   --disply-flex:disply-flex;
   --year:#202020;

  }
  .mubin{
    margin:  50px 140px 50px 140px ;
  }
  .saju{
    color: var(--bkack-1);
    font-size: 20px;
    font-weight: 500;

  }
  .button{
    background-color: var(--orange);
    color:var(--whait);
    width: 197px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 10px ;
    border: none;


  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    width: 1158px;
    /* height: 575px; */
  }
  .school{
    font-size: 32px;
    font-weight: bold;
    color: var(--bkack-1);
}
.img{
    display: flex;
}


.agcor{
    list-style: none;
    display: flex;
}


.home , .fac ,.add ,.about{
    /* display: flex; */
    text-decoration: none;
    font-size: var(--font-size);
    list-style: none;
    margin-right: 32px;
    
}
.home{
    color: var(--orange);
    
    /* justify-content: space-between; */
}
.about{
    color: var(--sky-blue);
}
.fac{
    color: var(--color);
}
.add{
    color: var(--admission);
}
.text{

    font-size: 56px;
    font-weight: bold;
    color: ;
}
.Empowering{
    color: var(--orange);
}
.small{
    color: var(--sky-blue);
}
.text-2{
    color: var(--bkack-1);
    font-size: 20px;

}
.button-1{
    background-color: #111111;
    color:var(--whait);
}
.a{
    display: flex;
    width: 1158px;
    height: 575px;
    gap: 80px 80px;
}
.b{
    width: 640px;
    height: 331px;
    padding:  150px  20px 150px 20px ;

}
.pic{
    width: 468px ;
    height: 575px;
}
.text-3{
    color: var(--black-0);
    font-size: 46px;
    font-weight: bold;
    justify-content: center;
    align-items:center ;
    text-align: center;
    padding: 0px 0px 80px 0px;
}
.main-box{
    display: flex;
    gap: 60px;
    padding: 80px 0px 80px 0px;
}
.box-1{
width: 367px;
height: 476px;
border-radius: 18px;
background-color: #DEF5FF;
align-items: center;
justify-content: center;
text-align: center;
padding: 20px 10px 20px;
}
.box-2{
background-color:#FFF4DC; 
}
.box-3{
    background-color:#F2E8FF ;
}
.rade{
    font-size: 15px;
    color: #64C8FF;
}
.rade-1{
    color: #F0AA00;
}
.rade-2{
color: #8700FF;
}
.year{
    font-size: 24px;
    color:var(--year) ;
}

.center{
    /* display: flex; */
}
.gap{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cercel{
    margin-right: 13px;
    margin-bottom: 80px;
    
    background-color: var(--orange);
    width: 60px;
    height: 60px;
    border-radius: 30px
    
}

.main-bar{
    height: 630px;
    width: 1160px;
    display: flex;
    background-color: rgb(224, 219, 210);
    bottom: 80px;
    
    
    gap: 19px;
}
.main-bar-1{
    width: 540px;
    height: 630px;
    /* padding: 20px; */
    border-radius: 19px;
    /* text-align: center; */
    justify-content: left;
    
    background-color: var(--whait);
}
.story-1{
    background-image: url(../B11-A2-Kids-School/assets/story-1.png);
    width: 540px;
    height: 337px;
    border-radius: 16px;
}
.story-3{
    background-image:url(../B11-A2-Kids-School/assets/story-3.png) ;
    width: 291px;
    height: 177px;
    border-radius: 19px;
}
.story-4{
    background-image:url(../B11-A2-Kids-School/assets/story-4.png) ;
    width: 291px;
    height: 177px;
    border-radius: 19px;
}
.story-5{
    background-image:url(../B11-A2-Kids-School/assets/story-5.png) ;
    width: 291px;
    height: 177px;
    border-radius: 19px;
}

.main-bar-2{
    width: 601px;
    height: 622px;
    display: grid;
    /* display: flex; */
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 19px;
    column-gap: 19px;
}
.text-5{
    color: var(--black-0);
    font-size: 24px;
    padding: 0px 25px;
}
.text-padding{
    
    padding: 0px 25px;
}
.button-2{
    background-color:#3CD8E8;
    position: relative;
    left: 30px;
    bottom: 30px;
    width: 174px;
    height: 47px;
    border-radius: 47px;
    
    
}
.button-3{
    background-color: #95B226;
    color: var(--whait);
    width: 174px;
    height: 38px;
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    
}
.main-bar-3{
    justify-content:left ;
    border-radius: 19px;
    width: 290px;
    height: 301px;
    background-color: var(--whait)
    
}
.button-4{
    background-color: #5D58F0;
    border: none;
}
.button-5{
    width: 127px;
    height: 38px;
    border: none;
}
.story-2{
    background-image: url(../B11-A2-Kids-School/assets/story-2.png);
    width: 291px;
    height: 177px;
    border-radius: 19px;
}
.text-7{
    font-size: 15px;
    color: var(--black-0);
    
    justify-content:left ;
    padding: 0px 25px;
    /* text-align: center; */
}
.button-6{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    
    
}
.view-button{
    position: relative;
    bottom: 60px;
    left: 480px;
    top: 80px;
   
}
.footer{
    width: 1439px;
    height: 519px;
    background-color: #01ACFD;
    margin-top: 120px;
}
.main-footer{
    /* padding: 148px 184px 148px 184px; */
    display: flex;
    gap: 50px;
}
.footer-text{

}
.kid{
    font-size: 42px;
    color: var(--whait);
    display: flex;
}
.pizza{
    color: var(--whait);
    font-size: 20px;
}
.dolor{
    color:var(--whait);
    font-size: 24px;
}
.footer-2{
    justify-content: left;
}
.color-2{
    list-style: none;
    justify-content: left;

}
.f{
    font-size: 26px;
}
.color-1{
    text-decoration: none;
    font-size: 20px;
    color: var(--whait);
    justify-content: left;
}
.icon{
    display: flex;
    gap: 5px;
}