.content-regular {
    font-family: "Content", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content-bold {
    font-family: "Content", serif;
    font-weight: 700;
    font-style: normal;
  }
  